html,
body {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
}

.container {
  display: inline-block;
  max-width: 500px;
  text-align: left;
}

.nav {
  position: fixed;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
}

.nav button {
  display: block;
  margin-bottom: 10px;
  font-size: 30px;
  background: none;
  border: 2px solid black;
}
